.list-group-item {
    display: flex; /* Use flexbox to align items */
    justify-content: space-between; /* Align items with space between them */
    align-items: center; /* Center items vertically */
  }

.delete-button {
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    
  }
  
  .delete-button:hover {
    background-color: darkred;
  }
  