.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: black;
  color: white;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.delete-icon {
  cursor: pointer;
  color: red;
}

.delete-icon:hover {
  color: darkred;
}


/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  

  .table th,
  .table td {
    padding: 8px;
  }



  .table {
    max-width: 90%; /* Adjust as needed */
  }
}

@media screen and (max-width: 390px) {
  .shopping-cart {
    padding: 5px;
    margin-top: 25px;
  }

  .table th,
  .table td {
    padding: 6px;
    font-size: 12px; /* Reduce font size for smaller screens */
  }

  .buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .buttons button {
    margin-bottom: 5px;
  }

  .table {
    max-width: 90%; /* Adjust as needed */
  }
}

